{% extends 'auctions/layout.html' %}

{% block body %}
<h3>{{item.name}}</h3>
<style>
    img{
        width: 300px;
        height: 200px;
        display: inline;
    }
    p{
        font-style: italic;
        font-size: 12px;
    }
    input[name="cmt"]{
        width: 500px;
        height: 300px;
    }
</style>
<ul>
    
    <li>Price: {{item.bidset.last.bid}}$</li>
    <p>
        {{numbid}} bid(s) so far.
        {% if user.id == item.bidset.last.who.id %}
        Your bid is the current bid
        {% else %}
        {{item.bidset.last.who.username}}'s bid is the current bid
        {% endif %}
    </p>
    <li>Starting bid: {{item.bidset.first.bid}}$</li>
    <li>Posted by: {{item.created_by}}</li>
    <li>Date: {{item.date}}</li>
    <li>Description: {{item.description}} </li>
    <img src="{{item.img}}" alt="{{item.name}}">
    
</ul>
<!-- WATCHLIST -->
<form action="{% url 'addwatchlist' item.id %}" method ="post">
    {% csrf_token %}
    {% if wl_mess == "Remove from your watchlist"%}
    <div>Watchlist</div>
    {% endif %}
    <input type="submit" value="{{ wl_mess }}"">
</form>
<br>
<!-- PLACE BID -->
{% if item.closed == 1 %}
    {% if user.id == item.bidset.last.who.id  %}
        <strong>You have won the auction</strong>
    {% else %}
        <strong>{{item.bidset.last.who}} has won the auction</strong>
    {% endif %}   
    <br>
{% elif user.id != item.created_by.id  %}
<form action="{% url 'item' item.id%}" method ="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Place bid">
</form>
<strong>{{fail_mess}}</strong>
{% endif %}

<!-- CLOSE BID -->
{% if user.id == item.created_by.id  %}

    {% if item.closed == 0 %}
        <form action="{% url 'closebid' item.id%}" method="post">
            {% csrf_token %}
            <input type="submit" value="Close bid">
        </form>
    {% else %}
        <strong>Closed</strong>
    {% endif %}
{% endif %}
<br>
<!-- COMMENT -->
<form action="{% url 'comment' item.id%}" method="post">
    {% csrf_token %}
    <textarea placeholder="Leave your comment here" name="cmt"  rows="9" cols="100"></textarea>

    <br>
    <input type="submit" value="Post">
</form>
<h3>Comments</h3>
{% for cmt in item.cmt.all %}
    <strong>{{ cmt.posted_by }} on {{cmt.date}}</strong>
    <div>{{ cmt.comment }}</div>
{% endfor %}

{% endblock %} 