{% extends "auctions/layout.html" %}

{% block body %} 
    <h2>Active Listings</h2>
    {% for item in list %}
    <style>
        img{
            width: 300px;
            height: 200px;
            display: inline;
            margin: 10px;
        }
        a{
            display: flex;
        }
        ul {
        list-style: none;
        }
        .item{
            border: solid gray 2px;
            border-radius: 10px;
        }
    </style>
    <ul>
        <li class ="item">
            <a href="{% url 'item' item.id %}">
              <img src="{{item.img}}" alt="{{item.name}}">
              <p style="white-space: pre-line">{{item}}</p>
              
            </a>
        </li>
    </ul>
    {% endfor %}
    TODO
{% endblock %}