{% extends "auctions/layout.html" %}

{% block body %}
<h1>New item</h1>
<style>
    .post_bt{
        width:100px;
        position: relative;
        left: 300px;
    }
</style>
    {% if not user.is_authenticated %}
    <div> Sign in to use this feature </div>
    {% else %}
    <form action="{% url 'new_item' %}" method="post">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        
        <input class="post_bt" type="submit" value="Post">
    </form>
    {% endif %}
{% endblock %}